{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Flash Word System</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Flash Word System</h1>

        <div class="row">
            {% for flash_word in flash_words %}
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ flash_word.word }}</h5>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="flash_word_id" value="{{ flash_word.id }}">
                            <button class="btn btn-primary show-info-btn" type="submit" name="show_info">Show Info</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if flash_word %}
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">{{ flash_word.word }}</h5>
                <p class="card-text">{{ flash_word.meaning }}</p>
                <p class="card-text">{{ flash_word.example }}</p>
                <p class="card-text">{{ flash_word.kanji }}</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary mt-2" type="submit" name="next">Next</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
